# Xcode
#
# Reference: https://github.com/github/gitignore/blob/main/Swift.gitignore

# Build artifacts
build/
DerivedData/
dist/

# User-specific Xcode settings
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad/
xcuserdata/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Icon Services Cache
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potential created by scripts
*.dmg
*.app

# General/Temporary
tmp/
*.log
*.profraw

